/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

h1{
  font-size: 56px;
}

h2{
  font-size: 42px;
}

p{
  font-size: 18px;
}

/* Font */
@font-face {
  font-family: "GintoNord";
  src: url("../font/ABC-Ginto-Nord.woff2") format('woff2');
}

/* Utility */
.container{
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
}

.flex-box{
  display: flex;
}

.border-box *{
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px dashed black;
}

.btn{
  border-radius: 40px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: white;
  color: #23272a;
  border: none;
  text-decoration: none;
  margin: 0 8px;
}

.btn-big{
  padding: 16px 32px;
  font-size: 18px;
}

.btn-black{
  background-color: #23272a;
  color: white;
}

img{
  max-width: 100%;
}

.btn:hover{
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}
/* HEADER */

header{
  color: white;
}

/* Header-top / menu */
#header-top{
  background-color: #255ee9;
  height: 80px;
}

#nav{
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo span{
  font-weight: bold;
}

#menu ul{
  list-style: none;
}

#menu ul li{
  padding: 0 16px;
}

#menu ul li a{
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
}

#menu ul li a:hover{
  text-decoration: underline;
}

/* Header-bottom / hero */
#hero{
  background-image: url("../img/jumbo.png");
  background-position:bottom;
  background-size: cover;

  padding: 50px 0;
}

#hero #hero-text{
  width: 60%;
  height: 400px; /* devo metterlo obbligatoriamente ?? */
  
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  text-align: center;
}

#hero-text h1{
  font-family: 'GintoNord', sans-serif;
}

/* FINE Header-bottom / hero */

/* MAIN */

/* section image & text */

main .box{
  padding: 50px 0;
  align-items: center;
}

main .box-grey{
  background-color: #d3d3d3;
}

main .box-image{ 
  width: 60%;
  padding-right: 50px;
}

main .box-text{
  width: 40%;
}

main .box-text h2{
  padding-bottom: 20px;
}

/* fine section image & text */

/* section big box */

main .box-big{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  height: 750px; /* da levare */
  text-align: center;
}

.box-big .box-image{
  flex-grow: 0;
  width: 100%;

}

.box-big h2{
  font-family: 'GintoNord', sans-serif;
  font-size: 40px;
}
/* fine section big box */

/* fine MAIN */



/* FOOTER */
footer{
  background-color: #23272a;
  padding-top: 10px;
}

/* footer-top */
.footer-top{
  display: flex;
  height: 500px;
  padding-bottom: 40px;
  border-bottom: 1px solid white;
}

.column-big{
  flex-grow: 2;
}

.column-small{
  flex-grow: 1;
}

/* footer-bot */
.footer-bottom{
  margin-top: 30px;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 0;
}

.footer-bottom .logo,
.footer-bottom .button{
  padding: 5px 10px;
}