/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

h1{
  font-size: 56px;
}

h2{
  font-size: 42px;
  padding-bottom: 20px;
}

p{
  font-size: 18px;
}

/* Font */
@font-face {
  font-family: "GintoNord";
  src: url("../font/ABC-Ginto-Nord.woff2") format('woff2');
}

/* Utility */
.container{
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
}

.flex-box{
  display: flex;
}

.border-box *{
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px dashed black;
}

.btn{
  /* deve diventere inline block, perchè se no il testo va a capo e si rompe */
  display: inline-block; 
  
  border-radius: 40px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: white;
  color: #23272a;
  text-decoration: none;
  margin: 0 8px;
}

.btn-big{
  padding: 16px 32px;
  font-size: 18px;
}

.btn-black{
  background-color: #23272a;
  color: white;
}

.btn-lightblue{
  background-color: #7289da;
  color: white;
}

img{
  max-width: 100%;
}

.btn:hover{
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

/* Wave grey */
/* metodo 1 - attraverso proprietà FILTER */
.wave img{
  width: 100%;
  filter: invert(98%) sepia(8%) saturate(179%) hue-rotate(247deg) brightness(118%) contrast(92%);
  margin-bottom: -5px;
  /*oppure*/
  /* vertical-align: bottom; */
}

/* metodo 2 - attraverso copia del file svg nell'html */
.wave-1hkxOo{
  margin-bottom: -5px;
}

/* per la wave a testa in giù */
.wave-bot{
  transform: rotate(180deg);
}
/* HEADER */

header{
  color: white;
  position: relative;
}

/* Header-top / menu */
#header-top{
  background-color: #255ee9;
  width: 100%;
  height: 80px;

  position: fixed;
  top: 0;
  z-index: 999;
}

#nav{
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo img{
  min-width: 125px;
}

.logo span{
  font-weight: bold;
}

#menu ul{
  list-style: none;
}

#menu ul li{
  padding: 0 16px;
}

#menu ul li a{
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
}

#menu ul li a:hover{
  text-decoration: underline;
}

/* Header-bottom / hero */
#hero{
  background-image: url("../img/jumbo.png");
  background-position:bottom;
  background-size: cover;

  padding: 50px 0;
}

#hero #hero-text{
  width: 60%;
  max-width: 780px;

  margin-top: 80px;
  height: 500px; /* devo metterlo obbligatoriamente ?? */
  
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  text-align: center;
}

#hero-text h1{
  font-family: 'GintoNord', sans-serif;
}

/* FINE Header-bottom / hero */

/* MAIN */

/* section image & text */

main .box{
  padding: 50px 0;
  align-items: center;
}

main .box-grey{
  background-color: #f6f6f6;
}

main .box-image{ 
  width: 60%;
  padding-right: 50px;
}

main .box-text{
  width: 40%;
}

/* fine section image & text */

/* section big box */

main .box-big{
  text-align: center;
}

.box-big .box-image{
  flex-grow: 0;
  width: 100%;

}

.box-big h2{
  font-family: 'GintoNord', sans-serif;
  font-size: 40px;
}
/* fine section big box */

/* CTA */
.star h3{
  font-size: 26px;
  margin-top: -32px;
  padding-bottom: 50px;
}


/* fine MAIN */



/* FOOTER */
footer{
  background-color: #23272a;
  color: white;
  padding-top: 10px;
}

/* footer-top */
.footer-top{
  display: flex;
  padding: 40px 0;
  
  border-bottom: 1px solid #5865f2;
}

.footer-top a{
  color: white;
  text-decoration: none;
}

.column-big{
  flex-grow: 1.5;
  max-width: 30%;
}

.column-big h3{
  padding-bottom: 20px;
  font-size: 32px;
  color: #7289da;
}

.column-big a{
  align-items: center;
  padding-bottom: 20px;
}

.column-big a img{
  width: 30px;
  padding-right: 4px;
}

.column-big a span,
.column-big a i{
  font-size: 0.8rem;
  padding-left: 4px;
}

.fa-brands{
  padding-right: 16px;
  font-size: 24px;
}
.column-small{
  flex-grow: 1;
  flex-direction: column;
}

.column-small ul{
  list-style: none;
}

.column-small ul li:first-child{
  padding-bottom: 24px;
}

.column-small ul li{
  padding-bottom: 12px;
}


.column-small span{
  font-weight: bold;
  color:#7289da;
}

.column-small a:hover{
  text-decoration: underline;
}

/* footer-bot */
.footer-bottom{
  margin-top: 30px;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 0;
}

.footer-bottom .logo,
.footer-bottom .button{
  padding: 5px 10px;
}